@{
    ViewData["Title"] = "Erişim Reddedildi";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
        <div class="alert alert-danger">
            <h4>Erişim Reddedildi</h4>
            <p>Bu işlem için yetkiniz bulunmamaktadır.</p>
        </div>
        <a href="/ServiceRequests/Index" class="btn btn-secondary">
            Talep Listesine Dön
        </a>
    </div>
</div>